# Data files and directories common in repo root
datasets/
logs/
*.h5
results/
temp/
test/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/


mask_rcnn_coco.h5
mask_rcnn_balloon.h5
requirements.txt
assets
images
logs
.DS_Store
balloon
car_plate_data
coco 
data_aug
fonts
real_data
train
true_test_characters
val_dataset
data_generator/bgs
data_generator/bgs_1
mrcnn
samples